/* ===== Primary Styles ===== */
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f4f6;
  color: #1f1617;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

/* Shared style for intro text and h1 */
.intro, h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Shared style for sub intro text and h2 */
.sub-intro, h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Project section subtitle */
.projects-title p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: italic;
}

/* Experience position paragraph style */
.experience-position p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* ===== Image Styles ===== */
.image {
  width: 250px;
  height: 250px;
  object-fit: cover; /* Fill container */
  object-position: center;
  box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Fully circular image for headshot and logos */
.image--circle {
  border-radius: 70%;
}

/* Rounded rectangle image for project screenshots */
.image--rounded {
  max-width: 350px;
  height: 400px;
  border-radius: 25px;
  box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Set up for the basic layout with margins and padding for throughout the page */
.content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 32px;
    padding: 30px;
}

/* Same layout for the page with the gradient background to differentiate the sections */
.background{
  background-image: linear-gradient(to right, #e98695, #C09BD8);
}
/* ===== Navigation Bar ===== */
ul.navbar {
    position: sticky; /* Sticks to top on scroll */
    top: 0;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1f1617;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

ul.navbar li a {
    display: block;
    color: white;
    gap: 40px;
    padding: 20px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #f5f4f6;
    color: black;
    font-style: italic;
    box-shadow : 0 16px 20px 0 rgba(0, 0, 0, 0.5);
}

#connect, #projects {
  grid-template-columns: 1fr;
}

/* Prevents horizontal scroll issues */
#experience {
  overflow-x: hidden;
}

/* ===== Card Layouts ===== */
.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3-column card grid */
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  gap: 80px;
}

/* Contact Card List*/
.card-list-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr; /* Longer 3rd column for spotify embed widget */
  gap: 80px;
  margin-top: 8px;
}

/* Card styling (adapted from W3Schools) */
.card {
  background-color: white;
  box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition : 0.3s;
  border-radius: 25px;
}

.card-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 25px;
}

.card:hover {
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.5);
}

.container {
  padding : 16px;
}

.container-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100px;
  margin-top: 12px;
}
/* ===== Collapsible Sections (adapted from Jordan Finners) ===== */
details {
  user-select: none;
}

summary {
  gap: 8px;
  background-color: #e98695;
  font-size: 25px;
  width: 350%;
  padding: 28px;
  margin-bottom: 0;
  margin-top: 16px;
}

.summary p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: italic;
}

.summary:hover{
  background-color: #C09BD8;
  cursor: pointer;
}

details[open] .experience-open {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Text | Image */
  column-gap: 60px;
}

/* Centers the logo vertically and hortizonally */
details[open] .experience-open > :nth-child(3) {
  justify-self: center;
  text-align: center;
}

.experience-position {
  margin-bottom: 8px;
  margin-left: 10px;
  font-size: 32px;
}

.experience-description {
  grid-column: 1;
  font-size: 25px;
}

.experience-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.experience-open {
  display: none; /* Hidden until <details> is opened */
}

.site-footer iframe {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}