@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f5f4f6;
  color: #1f1617;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: italic;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image--circle {
  border-radius: 70%;
}

.image--rounded {
  max-width: 350px;
  height: 400px;
  border-radius: 25px;
  box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 32px;
    padding: 30px;
}

.header-background{
  background-image: linear-gradient(to right, #e98695, #C09BD8);
}

ul.navbar {
    position: sticky;
    top: 0;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1f1617;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

ul.navbar li a {
    display: block;
    color: white;
    gap: 40px;
    padding: 20px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #f5f4f6;
    color: black;
    font-style: italic;
    box-shadow : 0 16px 20px 0 rgba(0, 0, 0, 0.5);
}


#connect, #projects {
  grid-template-columns: 1fr;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  gap: 80px;
}

.card-list-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 80px;
  margin: 0 auto;
}


/* Card styling pattern adapted from W3Schools
   https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
  background-color: white;
  box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition : 0.3s;
  border-radius: 25px;
}

.card-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.card:hover {
  box-shadow : 0 16px 20px 0 rgba(0, 0, 0, 0.5);
}

.container {
  padding : 16px;
}

.container-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}