@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 30px;
  margin-left: 30px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.image--circle {
  border-radius: 70%;
}

.image--rounded {
  width: 350px;
  height: 450px;
  border-radius: 15%;
}

.content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 32px;
    padding: 30px;
}

.header-background{
  background-image: linear-gradient(to right, #e98695, #C09BD8);
}

ul.navbar {
    position: sticky;
    top: 0;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1f1617;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

ul.navbar li a {
    display: block;
    color: white;
    gap: 40px;
    padding: 20px 40px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #f5f4f6;
    color: black;
    font-style: italic;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}